/* banner */
.banner {
  position: relative;
}
.banner .icon {
  position: absolute;
  bottom: 20px;
  width: 80px;
  text-align: center;
  left: 50%;
  margin-left: 40px;
}
.banner>a img{
  width:100%;
  vertical-align:top;
}
@media screen and (min-width:1080px) {
  .banner .mobile-pic {
    display: none;
  }
}
@media screen and (max-width:1080px) {
  .banner .pc-pic {
    display: none;
  }
}
/* banner end */

/* intro */

.intro .pc-container{
  width: 100%;
  position: relative;
}
.intro .pc-container .title,.intro .pc-container .content {
  width: 1080px;
  margin: 0 auto;
}
.intro .pc-container .title {
  height: 50px;
  padding: 50px 0 0 0;
  font-size: 28px;
  box-sizing: content-box;
  margin-bottom: 30px;
  border-bottom: #D1D1D1 1px solid;
}
.intro .pc-container .title span{
  display: block;
  width: 115px;
  height: 50px;
  border-bottom: #00A0E9 2px solid;
}
.intro .pc-container .img img{
  width: 100%;
}
.intro .pc-container .content {
  width: 1080px;
  padding: 30px 0 0px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: -540px;
}
.intro .pc-container .content span {
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}
.intro .pc-container .content a {
  position: absolute;
  width: 220px;
  height: 60px;
  line-height: 60px;
  background-color: #00A0E9;
  color: #fff;
  text-align: center;
  right: 0;
  bottom: -110px;
}
.intro .pc-container .content a span{
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
}
.intro .pc-container .content a span:after{
  content: "";
  width: 1rem;
  height: 1rem;
  margin-top: 3px;
  display: inline-block;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}
@media screen and (min-width:1080px) {
  .intro .mobile-container {
    display: none;
  }
}
@media screen and (max-width:1080px) {
  .intro .pc-container {
    display: none;
  }
}
.intro .mobile-container {
  width: 100%;
  position: relative;
}
.intro .mobile-container .title {
  text-align: center;
  padding: 30px 0;
}
.intro .mobile-container .title img {
  display: block;
  margin: 0 auto 15px;
  height: 18px;
}
.intro .mobile-container .title span {
  font-size: 20px;
}
.intro .mobile-container .title span b {
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto 0;
  background-color: #00A0E9;
} 
.intro .mobile-container .img {
  height: 470px;
}
.intro .mobile-container .img img {
  width: 100%;
}
.intro .mobile-container .content {
  position: absolute;
  width: 95%;
  right: 0;
  bottom: 0px;
  padding: 30px 20px 25px;
  color: #fff;
  background-color: #1A384F;
}
.intro .mobile-container .content a {
  display: block;
  width: 100px;
  text-align: center;
  height: 30px;
  margin-top: 35px;
  line-height: 30px;
  background-color: #00A0E9;
  color: #fff;
}
.intro .mobile-container .content a span:after{
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  margin-top: 3px;
  display: inline-block;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}
/* intro end*/

/* strategic */
.strategic .pc-container{
  width: 100%;
  position: relative;
}
.strategic .pc-container .title,.strategic .pc-container .content {
  width: 1080px;
  margin: 0 auto;
}
.strategic .pc-container .title {
  height: 50px;
  padding: 50px 0 0 0;
  font-size: 28px;
  box-sizing: content-box;
  margin-bottom: 30px;
  border-bottom: #D1D1D1 1px solid;
}
.strategic .pc-container .title span::after{
  content: '';
  margin-top: 26px;
  display: block;
  width: 115px;
  height: 2px;
  background-color: #00A0E9;
}
.strategic .pc-container .content {
  background-color: #1A384F;
  padding: 30px;
}
.strategic .pc-container .content ul li{
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}
.strategic .pc-container .content ul.bottom {
  margin-top: 10px;
}
.strategic .pc-container .content ul.bottom li {
  font-size: 16px;
}
.strategic .pc-container .content ul.top li::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 14px;
  vertical-align: middle;
  background-color: #00A0E9;
}
/* activity */
.activity .pc-container{
  width: 100%;
  position: relative;
}
.activity .pc-container .title{
  width: 1080px;
  margin: 0 auto;
}
.activity .pc-container .title {
  height: 50px;
  padding: 50px 0 0 0;
  font-size: 28px;
  box-sizing: content-box;
  margin-bottom: 30px;
  border-bottom: #D1D1D1 1px solid;
  position: relative;
}
.activity .pc-container .title a {
  position: absolute;
  font-size: 16px;
  color: #1A384F;
  right: 0;
  bottom: 15px;
}
.activity .pc-container .title span::after{
  content: '';
  margin-top: 26px;
  display: block;
  width: 115px;
  height: 2px;
  background-color: #00A0E9;
}
.activity .pc-container .content {
  background-color: #F8F8F8;
  padding: 30px 0;
}
.activity .pc-container .projectList {
  width: 1080px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 30px;
}
.activity .pc-container .projectList ul {
  padding: 10px 0;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.activity .pc-container .projectList ul li {
    /* height: 520px; */
    width: 32%;
    float: left;
    margin: 30px 0 0 0 ;
    padding-bottom: 40px;
    background-color: #fff;
    position: relative;
}
.activity .pc-container .projectList ul li .listImg img{
    width: 100%;
    height: 100%;
}
.activity .pc-container .projectList ul li .listContent {
  padding: 20px 30px;
}
.activity .pc-container .projectList ul li .listContent h3 {
  display: block;
  width: 100%;
  /* height: 35px; */
  line-height: 30px;
  font-size: 20px;
  font-weight: normal;
}
.activity .pc-container .projectList ul li .listContent h3::after {
  content: '';
  display: block;
  width: 85px;
  height: 3px;
  margin: 10px 0;
  background-color: #00A0E9;
}
.activity .pc-container .projectList ul li .listContent>p {
  margin: 10px 0 0;
  font-size: 14px;
}
.activity .pc-container .projectList ul li .listContent>p.intro {
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.activity .pc-container .projectList ul li .listContent a{
    color: #1A384F;
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-size: 14px;
}
.activity .pc-container .projectList ul li .listContent a:hover {
  color: #00A0E9;
}
/* manager */
.manager .pc-container{
  width: 100%;
}

@media screen and (min-width:1080px) {
  .manager .mobile-container {
    display: none;
  }
}
@media screen and (max-width:1080px) {
  .manager .pc-container {
    display: none;
  }
}

.manager .pc-container .title, .manager .pc-container .content .picScroll{
  width: 1080px;
  margin: 0 auto;
}
.manager .pc-container .title {
  height: 50px;
  padding: 50px 0 0 0;
  font-size: 28px;
  box-sizing: content-box;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: #D1D1D1 1px solid;
}
.manager .pc-container .title>span{
  display: block;
  width: 115px;
  height: 50px;
  border-bottom: #00A0E9 2px solid;
}
.manager .pc-container .title #pageState {
  font-size: 12px;
  line-height: 50px;
}
.manager .pc-container .title #pageState>span {
  color: #00A0E9;
}
.manager .pc-container .content {
  height: 600px;
  padding: 40px 0;
  background: url("../images/index/team_bg.png") no-repeat center center;
}
.manager .pc-container .content .picScroll {
  position: relative;
}
.manager .pc-container .content .picScroll .bd dl{
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
.manager .pc-container .content .picScroll .bd dt{
  width: 220px;
  height: 220px;
}
.manager .pc-container .content .picScroll .bd dt img {
  width: 100%;
  height: 100%;
}
.manager .pc-container .content .picScroll .bd dd {
  flex: 1;
  height: auto;
  margin: 60px 0 0 30px;
}
.manager .pc-container .content .picScroll .bd .name {
  height: 50px;
  display: flex;
}
.manager .pc-container .content .picScroll .bd .name p{
  width: 220px;
  padding-top: 10px;
}
.manager .pc-container .content .picScroll .bd .name ul {
  /* margin-left: 80px; */
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  flex-direction: column;
}
.manager .pc-container .content .picScroll .bd .name ul li {
  line-height: 28px;
  /* margin-left: 20px; */
}
.manager .pc-container .content .picScroll .bd .name b{
  font-size: 27px;
  padding-bottom: 10px;
  font-weight: normal;
  position: relative;
}
.manager .pc-container .content .picScroll .bd .name b::after{
  position: absolute;
  content: ' ';
  height: 4px;
  width: 67px;
  left: 0;
  bottom: -7px;
  background: #00A0E9;
}
.manager .pc-container .content .picScroll .bd .name span {
  font-size: 20px;
  padding-left: 10px;
}
.manager .pc-container .content .picScroll .bd .bd-1 {
  position: relative;
}
.manager .pc-container .content .picScroll .bd .bd-1::after {
  position: absolute;
  content: ' ';
  height: 1px;
  width: 830px;
  bottom: -21px;
  right: 0;
  background: #D1D1D1;
}
.manager .pc-container .content .picScroll .hd ul {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  justify-content: center;
}
.manager .pc-container .content .picScroll .hd ul li {
  width: 30px;
  height: 12px;
  overflow: hidden;
  text-indent: 100px;
  margin-right: 10px;
  background-color: #D1D1D1;
  cursor: pointer;
}
.manager .pc-container .content .picScroll .hd ul li.on{
  background-color: #1A384F
}

.manager .mobile-container {
  width: 100%;
  position: relative;
}
.manager .mobile-container .title {
  text-align: center;
  padding: 30px 0;
}
.manager .mobile-container .title img {
  display: block;
  margin: 0 auto 15px;
  height: 18px;
}
.manager .mobile-container .title span {
  font-size: 20px;
}
.manager .mobile-container .title span b {
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto 0;
  background-color: #00A0E9;
} 
.manager .mobile-container .content {
  background-color: #F8F8F8;
  padding: 20px 30px 40px;
}
.manager .mobile-container .content .picScroll .bd dt {
  padding: 5px 30px;
}
.manager .mobile-container .content .picScroll .bd dt img {
  width: 100%;
}
.manager .mobile-container .content .picScroll .bd .name b {
  font-size: 16px;
  padding-bottom: 8px;
  border-bottom: 3px solid #00A0E9;
}
.manager .mobile-container .content .picScroll .bd .name span {
  font-size: 14px;
}
.manager .mobile-container .content .picScroll .bd .name p {
  padding-top: 15px;
}
.manager .mobile-container .content .picScroll .hd ul {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 100;
  justify-content: center;
}
.manager .mobile-container .content .picScroll .hd ul li {
  width: 25px;
  height: 8px;
  overflow: hidden;
  text-indent: 100px;
  margin-right: 10px;
  background-color: #D1D1D1;
  cursor: pointer;
}
.manager .mobile-container .content .picScroll .hd ul li.on{
  background-color: #00A0E9
}
/* manager end */

/* organization */
.organization .pc-container{
  width: 1080px;
  margin: 0 auto;
}

@media screen and (min-width:1080px) {
  .organization .mobile-container {
    display: none;
  }
}
@media screen and (max-width:1080px) {
  .organization .pc-container {
    display: none;
  }
}

.organization .pc-container .title {
  height: 50px;
  padding: 50px 0 0 0;
  font-size: 28px;
  box-sizing: content-box;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: #D1D1D1 1px solid;
}
.organization .pc-container .title>span{
  display: block;
  width: 115px;
  height: 50px;
  border-bottom: #00A0E9 2px solid;
}
.organization .pc-container .title #org-pageState {
  font-size: 12px;
  line-height: 50px;
}
.organization .pc-container .title #org-pageState>span {
  color: #00A0E9;
}

.organization .pc-container .content {
  padding: 10px 80px;
  position: relative;
}
.organization .pc-container .content .bd>div {
  min-height: 400px;
}
.organization .pc-container .content .bd>div dl {
  width: 45%;
  float: left;
}
.organization .pc-container .content .bd>div dl:last-child {
  float: right;
}
.organization .pc-container .content .bd>div dl dt img{
  width: 100%;
}
.organization .pc-container .content .bd>div dl dd p {
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  padding: 5px 0;
}
.organization .pc-container .content .bd>div dl dd a {
  display: block;
  width: 100px;
  text-align: center;
  line-height: 35px;
  height: 35px;
  background-color: #00A0E9;
  color: #fff;
  margin: 5px auto;
}
.organization .pc-container .content .hd{
  width: 100%;
  display: flex;
  height: 32px;
  top: 35%;
  left: 0px;
  justify-content: space-between;
  position: absolute;
}
.organization .pc-container .content .hd .next, .organization .pc-container .content .hd .prev {
  width: 20px;
  height: 32px;
  cursor: pointer;
}
.organization .pc-container .content .hd .next {
  background: url('../images/about/arrow_left.png') no-repeat center center;
  background-size: 100% 100%;
}
.organization .pc-container .content .hd .prev {
  background: url('../images/about/arrow_right.png') no-repeat center center;
  background-size: 100% 100%;
}

.organization .mobile-container {
  width: 100%;
  position: relative;
}
.organization .mobile-container .title {
  text-align: center;
  padding: 30px 0;
}
.organization .mobile-container .title img {
  display: block;
  margin: 0 auto 15px;
  height: 18px;
}
.organization .mobile-container .title span {
  font-size: 20px;
}
.organization .mobile-container .title span b {
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto 0;
  background-color: #00A0E9;
} 
.organization .mobile-container .content {
  padding: 10px 20px 0px;
}
.organization .mobile-container .content .picScroll .bd dl {
  margin-bottom: 25px;
}
.organization .mobile-container .content .picScroll .bd dt {
  padding: 5px 30px 15px;
}
.organization .mobile-container .content .picScroll .bd dt img {
  width: 100%;
}
.organization .mobile-container .content .picScroll .bd dd {
  text-align: center;
  font-size: 16px;
}
.organization .mobile-container .content .picScroll .hd ul {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 100;
  justify-content: center;
}
.organization .mobile-container .content .picScroll .hd ul li {
  width: 25px;
  height: 8px;
  overflow: hidden;
  text-indent: 100px;
  margin-right: 10px;
  background-color: #D1D1D1;
  cursor: pointer;
}
.organization .mobile-container .content .picScroll .hd ul li.on{
  background-color: #00A0E9
}
/* organization end */ 
/* partner */
.partner .pc-container{
  width: 1080px;
  margin: 0 auto 20px;
}

@media screen and (min-width:1080px) {
  .partner .mobile-container {
    display: none;
  }
}
@media screen and (max-width:1080px) {
  .partner .pc-container {
    display: none;
  }
}
.partner .pc-container .title {
  height: 50px;
  padding: 50px 0 0 0;
  font-size: 28px;
  box-sizing: content-box;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: #D1D1D1 1px solid;
}
.partner .pc-container .title>span{
  display: block;
  width: 115px;
  height: 50px;
  border-bottom: #00A0E9 2px solid;
}
.partner .pc-container .content ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.partner .pc-container .content ul li {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 4%;
}
.partner .pc-container .content ul li:nth-child(3n) {
  margin-right: 0;
}
.partner .pc-container .content ul li img {
  width: 100%;
}

.partner .mobile-container {
  width: 100%;
  position: relative;
}
.partner .mobile-container .title {
  text-align: center;
  padding: 20px 0;
}
.partner .mobile-container .title img {
  display: block;
  margin: 0 auto 15px;
  height: 18px;
}
.partner .mobile-container .title span {
  font-size: 20px;
}
.partner .mobile-container .title span b {
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto 0;
  background-color: #00A0E9;
} 
.partner .mobile-container .content {
  padding: 10px 20px 30px;  
}
.partner .mobile-container .content ul {
  padding: 0 30px;
}
.partner .mobile-container .content ul li {
  margin-bottom: 20px;
}
.partner .mobile-container .content ul li img {
  width: 100%;
}