@media screen and (min-width:1080px) {
  .project-activities .mobile-container {
    display: none;
  }

}

@media screen and (max-width:1080px) {
  .project-activities .pc-container {
    display: none;
  }

  .titleCenter {
    display: none;
  }
}

body {
  /* background-color: rgb(255, 255, 255); */
  background: #F8F8F8;
}

.project-activities .pc-container {
  width: 1080px;
  margin: 0 auto;
}

.pc-container-sub {
  background: #fff;
  padding-top: 40px;
}

.pc-container-sub .nav {
  margin: 0 auto;
  width: 1080px;
}

.nav p {
  color: #999999;
  background-color: #fff;
}

.nav p a {
  color: #999999;
}

.nav p a:last-child {
  color: #00A0E9;
}

.titleCenter {
  background-color: #fff;
  padding: 20px 0 40px 0;
}

.titleCenter .title {
  height: 50px;
  width: 1080px;
  padding: 50px 0 0 0;
  font-size: 48px;
  box-sizing: content-box;
  margin: 0 auto;
  border-bottom: #D1D1D1 1px solid;
}

.titleCenter .title span {
  display: block;
  width: 243px;
  height: 50px;
  border-bottom: #00A0E9 4px solid;
}

.titleCenter.sub {
  background-color: transparent;
}

.titleCenter.sub .title span {
  width: 171px;
}

.project-activities .pc-container .projectList {
  position: relative;
  padding-bottom: 80px;
}

.project-activities .pc-container .projectList ul {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-activities .pc-container .projectList ul li {
  height: 436px;
  width: 43%;
  float: left;
  margin: 40px 0 0 0;
  background-color: #fff;
}

.project-activities .pc-container .projectList ul li:nth-child(2n) {
  margin-left: 40px;
  position: relative;
}

.project-activities .pc-container .projectList ul li:nth-child(2n-1) {
  margin-right: 40px;
  position: relative;
}

.project-activities .pc-container .projectList ul li .listImg img {
  width: 100%;
  height: 100%;
}

.project-activities .pc-container .projectList ul li .listContent {
  padding: 30px;
}

.project-activities .pc-container .projectList ul li .listContent span {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 23px;
  line-height: 30px;
}

.project-activities .pc-container .projectList ul li .listContent span::after {
  content: '';
  display: block;
  width: 75px;
  height: 4px;
  margin: 20px 0;
  background-color: #00A0E9;
}

.project-activities .pc-container .projectList ul li .listContent p {
  margin: 20px 0;
  font-size: 14px;
}

.project-activities .pc-container .projectList ul li .listContent a {
  color: #00A0E9;
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 16px;
}

.bottom-footer {
  background-color: #fff;
}


.project-activities .mobile-container {
  background: #fff;
}

.project-activities .mobile-container .title {
  text-align: center;
  padding: 30px 0;
}

.project-activities .mobile-container .title img {
  display: block;
  margin: 0 auto 15px;
  height: 18px;
}

.project-activities .mobile-container .title span {
  font-size: 20px;
}

.project-activities .mobile-container .title span b {
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto 0;
  background-color: #00A0E9;
}

.project-activities .mobile-container .projectList {
  padding: 10px 20px;
  background: #F8F8F8;
}

.project-activities .mobile-container .projectList ul li {
  border-bottom: 1px solid #D1D1D1;
  margin: 20px 0;
  overflow: hidden;
}

.project-activities .mobile-container .projectList ul li:last-child {
  border: none;
}

.project-activities .mobile-container .projectList ul li .listImg {
  padding: 0 40px;
  margin: 0 auto;
}

.project-activities .mobile-container .projectList ul li .listImg img {
  width: 100%;
  height: 100%;
}

.project-activities .mobile-container .projectList ul li .listContent {
  text-align: center;
  padding: 0 20px;
}

.project-activities .mobile-container .projectList ul li .listContent span {
  font-size: 20px;
  color: #00A0E9;
  display: block;
  margin: 20px 0 10px;
  padding-bottom: 10px;
}

.project-activities .mobile-container .projectList ul li .listContent span::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  margin: 10px auto 0;
  background-color: #00A0E9;
}

.project-activities .mobile-container .projectList ul li .listContent p {
  text-align: left;
}

.project-activities .mobile-container .projectList ul li .listContent a {
  /* position: relative; */
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #00A0E9;
  color: #fff;
  text-align: center;
  float: right;
  margin: 20px 0;
}